:root{
    --COLOR-BG: #374151;
    --COLOR-BUTTONS-FLEXBOX-BG: #1F2937;
    --COLOR-BUTTON-DISABLED-BG: #252529;
    --COLOR-BUTTON-BG: #52525B;
    --COLOR-BUTTON-BORDER: #37373F;
    --COLOR-WIDGET-BG: #4B5563;
    --COLOR-BUTTON-ACTIVE: #2187A3;
    --COLOR-BUTTON-SELECTED-BORDER: #196B81;
    --COLOR-ITEM-SELECTED: #71C6DD;
    --COLOR-BUTTON-TEXT-DISABLED: #888888;
    --COLOR-BUTTON-TEXT: #E5E5E5;
    --COLOR-TEXT-MAIN: #EEEEEE;
    --COLOR-TEXT-SELECTED: #FFFFFF;
    --COLOR-ITEM-HEADER-BG: #4F6574;

    --BUTTONS-ROW-HEIGHT: 4em;
    --BUTTONS-ROW-VERTICAL-PADDING: 0.2em;
    --GRID-VERTICAL-MARGIN-PADDING: 0.4em;
    --GRID-CONTAINER-HEIGHT: 100vh;
    
    --FONT-FAMILY: "Aleo", serif;
}

body{
    height: 100vh;
    font-family: var(--FONT-FAMILY);
    margin: 0;
    padding: 0;
    user-select: none;
    background-color: var(--COLOR-BG);
    color: var(--COLOR-TEXT-MAIN);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    white-space: nowrap;
    margin-left: 20px;
    cursor: pointer;
}

p{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 0.8em;
}



#load-file-input{
    display: none;
}

.buttons-row-flexbox{
    display: flex;
    justify-content: space-evenly;
    height: var(--BUTTONS-ROW-HEIGHT);
    background-color: var(--COLOR-BUTTONS-FLEXBOX-BG);
    padding-top: var(--BUTTONS-ROW-VERTICAL-PADDING);
    padding-bottom: var(--BUTTONS-ROW-VERTICAL-PADDING);
    gap: 1.5em;
}

.buttons-flexbox{
    display: flex;
    margin: 0.4em 0.4em;
    flex-direction: row;
    justify-content: space-evenly;
}

.vertical-buttons-flexbox{
    flex-direction: column;
}

.main-button{
    font-size: 1em;
    font-family: var(--FONT-FAMILY);
    background-color: var(--COLOR-BUTTON-BG);
    border-color: var(--COLOR-BUTTON-BORDER);
    color: var(--COLOR-BUTTON-TEXT);
    margin: 0.2em 0.2em;
    border-radius: 0.4em;
}

.main-button:disabled{
    background-color: var(--COLOR-BUTTON-DISABLED-BG);
    color: var(--COLOR-BUTTON-TEXT-DISABLED);
}

.main-button:hover:enabled{
    cursor: pointer;
    background-color: var(--COLOR-BUTTON-TEXT-DISABLED);
}

.button-selected{
    background-color: var(--COLOR-BUTTON-ACTIVE);
    border-color: var(--COLOR-BUTTON-SELECTED-BORDER);
}

.button-selected:hover{
    color: var(--COLOR-TEXT-SELECTED) !important;
    background-color: var(--COLOR-ITEM-SELECTED) !important;
}

.grid-container{
    display: grid;
    grid-template-rows: repeat(10, minmax(50px, 1fr));
    grid-template-columns: repeat(10, minmax(100px, 1fr));
    grid-gap: 0.75em;
    margin: var(--GRID-VERTICAL-MARGIN-PADDING);
    height: calc(var(--GRID-CONTAINER-HEIGHT) - var(--BUTTONS-ROW-HEIGHT) - (var(--GRID-VERTICAL-MARGIN-PADDING) * 2) - (var(--BUTTONS-ROW-VERTICAL-PADDING) * 2));    
}

.functionality-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--COLOR-WIDGET-BG);
    border-radius: 0.4em;
    border: 1px solid var(--COLOR-BUTTONS-FLEXBOX-BG);
}

#item-left-top{
    grid-area: 1 / 1 / 2 / 1;
}

#item-left-top div{
    border-bottom: none;
}

#item-left-middle{
    grid-area: 2 / 1 / 7 / 1;
}

#item-left-bottom{
    grid-area: 7 / 1 / 11 / 1;
}

#item-center{
    grid-area: 1 / 2 / 11 / 10;
    position: relative;
    width: 100%;
    height: 100%;
}

#item-right-top{
    grid-area: 1 / 10 / 2 / 10;
}

#item-right-middle{
    grid-area: 2 / 10 / 6 / 10;
}

#item-right-bottom{
    grid-area: 6 / 10 / 11 / 10;
}

p.section-title{
    font-size: 1em;
}

.item-header{
    width: 100%;
    background-color: var(--COLOR-ITEM-HEADER-BG);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom: inherit;
    text-align: center;
}

canvas{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: black;
}

.app-loading{ 
    width: 100%;
    height: 100%;   
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--COLOR-TEXT-MAIN);
    font-size: clamp(12px, 5vw, 30px);
}

.app-loading > p {
    background-color: black;
    padding: 0.5%;
}

.scrollable-list{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    padding: 10px;
}

.scrollable-list div{
    border-bottom: 1px solid var(--COLOR-TEXT-MAIN);
    padding: 1px;
    cursor: pointer;
}

.table-body{
    box-sizing: border-box;
    overflow-y: auto;
}

.table-body div{
    cursor: pointer;
}

.table-row{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid var(--COLOR-TEXT-MAIN);
    padding: 1px 1px 1px 1.5em;

}

#item-left-top .table-row{
    grid-template-columns: 2fr 1fr;
}

#item-left-top .table-body{
    display: grid;
    grid-auto-rows: 1fr;
    height: 100%;
}

#item-left-top p {
    margin: 0;
}


.table-row > div {
    min-width: 0;
}

.table-row > div:last-child {
    overflow-wrap: break-word;
    word-break: break-word;
}

.selected{
    color: var(--COLOR-TEXT-SELECTED);
    background-color: var(--COLOR-ITEM-SELECTED);
    font-weight: bold;
}

.tree-view{
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

.treeview-hidden{
    display: none;
}

.toggle-button{
    margin-right: 5px;
    cursor: pointer;
}

.highlighted-text{
    font-weight: bold;
    font-style: italic;
    color: var(--COLOR-TEXT-SELECTED);
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content-layout{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: var(--COLOR-WIDGET-BG);
    border: 1px solid var(--COLOR-BUTTONS-FLEXBOX-BG);
    border-radius: 0.4em;
    text-align: center;
    display: flex;
    flex: column;
    flex-direction: column;
}

#help-modal .modal-content-layout{
    width: 600px;
    height: 700px;
}

.modal-head{
    background-color: var(--COLOR-ITEM-HEADER-BG);
    margin-top: 0;
    margin-bottom: 0;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    display: flex;
}

.modal-header{
    padding: 15px 0;
    margin: inherit;
    font-size: larger;
}

.modal-main{
    min-height: 50px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.modal-main h3{
    text-align: center;
}

.modal-main .new-line{
    font-size: 1em;
}


#text-modal .modal-main{
    justify-content: center;
}

#text-modal-input{
    border-radius: inherit;
    border-width: 0;
}

.modal-main p{    
    line-height: 1em;
    text-align: justify;
    text-justify: inter-word;
}

.new-line{
    margin-top: 0;
    margin-bottom: 0.75em;
}

.modal-footer{
    display: flex;
    justify-content: center;
    padding: var(--MODAL-PADDING-PX) 0;
}

.close {
    color: var(--COLOR-TEXT-MAIN);
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-right: 2%;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#clicked-components{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.span-list span{
    cursor: pointer;
}

/* dimensions */
::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 0.4em;
}
  
/* Handle */  
::-webkit-scrollbar-thumb {
    background: var(--COLOR-BUTTONS-FLEXBOX-BG);
    border-radius: 0.4em;
}

/* Scrollbar meeting point */
::-webkit-scrollbar-corner {
    background-color: transparent;
}